<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The Home Page </h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe temporibus similique esse in magni expedita, cum minus consequuntur molestiae aut nostrum accusamus repellat dolores aperiam quidem, iusto consequatur laudantium. Nesciunt.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, molestias nostrum aperiam maiores recusandae accusamus maxime sunt officiis perspiciatis exercitationem natus unde eaque placeat dolores eos consectetur nihil earum sapiente.
    </p>
</body>
</html>